form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid rgb(236, 111, 67);
  border-radius: 1rem;
}

form input {
  padding: 1rem;
  width: 25rem;
}

#voucher-container input {
  width: 15rem;
}